* {
  margin: 0;
  padding: 0;
}
body {
  background-color:white;
}

.main .date {
  text-align: center;
  color: rgb(0, 0, 0);
}
.main .date h1 {
  font-size: 50px;
}
.main {
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main p {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 16px;
}
ul {
  text-align: start;
  margin-left: 11%;
}
ul li {
  font-family: inherit;
  color: rgb(0, 0, 0);
  font-weight: 530;
  margin: 1%;
}
.conclude {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 30px;
}
